Node-RED/TelegramBot.json
[
    {
        "id": "a1b2c3d4.56789",
        "type": "tab",
        "label": "TelegramBot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "telegram_inject",
        "type": "inject",
        "z": "a1b2c3d4.56789",
        "name": "Test Alert",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "aslema",
        "payloadType": "str",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "telegram_function"
            ]
        ]
    },
    {
        "id": "telegram_function",
        "type": "function",
        "z": "a1b2c3d4.56789",
        "name": "Format Telegram Message",
        "func": "// Replace with your actual bot token and chat ID\nconst botToken = \"8273239348:AAHApjrwq_1X-dC1Hqfv-3XmsgzU-zM5IZI\";\nconst chatId = \"6931740410\";\n\nmsg.method = \"POST\";\nmsg.url = `https://api.telegram.org/bot${botToken}/sendMessage`;\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    chat_id: chatId,\n    text: msg.payload\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 300,
        "wires": [
            [
                "telegram_http"
            ]
        ]
    },
    {
        "id": "telegram_http",
        "type": "http request",
        "z": "a1b2c3d4.56789",
        "name": "Send Telegram Message",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 300,
        "wires": [
            [
                "telegram_debug"
            ]
        ]
    },
    {
        "id": "telegram_debug",
        "type": "debug",
        "z": "a1b2c3d4.56789",
        "name": "Telegram Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 300,
        "wires": []
    }
]